* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Montserrat';

}

.div-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  background: #000000;
}

.div-principal h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 49px;

}

.div-principal p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-top: 10px;
}

.div-principal button {
  background: #B01316;
  width: 310px;
  height: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-top: 40px;

}

.div-principal span {
  color: #E2181A;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 49px;
}

.div-principal button:hover {
  opacity: 0.6;
}

.logo {
  margin-bottom: 20px;
}

.container-grafico {
  border-width: 2px 0px;
  border-style: solid;
  border-color: #E2181A;
  margin-top: -70px;
  background: #0C0B0B;
}

.title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
}

.grafico {
  display: flex;
  justify-content: center;
  gap: 140px;
  align-items: center;
  margin-bottom: 80px;
}

.grafico p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.grafico div {
  text-align: center;
}

.container-module {
  padding: 70px;
  background: #0C0B0B;
}

.container-module h2 {
  text-align: center;
  margin-bottom: 100px;
}

.container-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.box-1 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 80.73%),
    url(./assets/strong-bodybuilder-posing-and-showing-muscles.svg);
  width: 310px;
  height: 440px;
}

.box-2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 80.73%),
    url(./assets/strong-bodybuilder-posing-and-showing-muscles1.svg);
  width: 310px;
  height: 440px;
}

.box-3 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 80.73%),
    url(./assets/3.svg);
  width: 310px;
  height: 440px;
}

.box-4 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 80.73%),
    url(./assets/4.svg);
  width: 310px;
  height: 440px;
}

.box-1,
.box-2,
.box-3,
.box-4 {
  text-align: center;
  position: relative;
}

.box-align {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;

}

.link button {
  background: #B01316;
  border-radius: 20px;
  height: 30px;
  width: 180px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;

}

.link button:hover {
  opacity: 0.6;
}

.link {
  flex-direction: column;
}

.link a {
  align-items: center;
  display: flex;
  text-align: left;
  font-size: 11px;
  padding: 10px;
  background: #B01316;
  cursor: pointer;
}

.link a:hover {
  opacity: 0.6;
}


.container-module h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
}

.container-module span {
  color: #B01316;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
}

.button-começar {
  text-align: center;
}


.button-começar button {
  background: #B01316;
  width: 310px;
  height: 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  margin-top: 40px;
}

.começar {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #B01316;
}

.metodo {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;

}

.align-carousel {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #E2181A;
}


.div-info {
  margin-left: 100px;
}

.container-info h3 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
}

.paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.align-items-info {
  display: flex;
  margin-top: 30px;
  text-align: center;
  gap: 60px;
}

.align-items-info span {
  color: #E2181A;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
}

.align-items-info p {
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
}

.price {
  background: #000000;
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
}

.box {
  border: 1px solid #E2181A;
  text-align: center;
}

.descriptio {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.inves {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #E2181A;
  margin-bottom: 20px;
}

.tamanho {
  width: 530px;
  height: 429px;
  text-align: center;
  padding: 30px;
}

.tamanho p {
  margin-bottom: 30px;
}

.buy {
  height: 50px;
  width: 100%;
  background: #B01316;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.apenas {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
}

.price-1 {
  font-weight: bold;
}

.price-2 {
  font-weight: bold;
  color: #B01316;
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

.div-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 150px;
}

.div-img p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  width: 321px;
  height: 100px;
  margin-top: 20px;
}

.container-questions {
  background: #000000;
  display: flex;
  justify-content: center;
  gap: 150px;
  padding-bottom: 100px;
  padding-top: 50px;
}


summary {
  border-bottom: 1px solid #2C0406;
  margin-bottom: 20px;
}

.top-text {
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 183px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
}

.fre {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  margin-top: 20%;
}


.paragraph-sumary {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  margin: 20px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 50ch;
  /*  max-height: 200px;
  overflow-y: auto; */
}

.box-content {
  width: 307px;
  height: 315px;
  border-bottom: 1px solid #B01316;
 
  background: #0C0B0B;

  border-bottom: 2px solid #E2181A;
  border-radius: 4px;

}

.align-text-img {
  display: flex;
  align-items: center;

}

.align-text-img img {
  padding: 20px;
}



.text-slider {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.text-slider span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #E2181A;
}



.swiper-button-next:after,
.swiper-button-prev:after {
  color: #B01316;
}

.swiper-pagination-bullet {
  background: white;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #E2181A;
}


.personal {
  position: absolute;
  bottom: 0;
  right: 0;
}


